body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

#navbar {
  background-color: #222323;
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid white;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

#navbar header {
  text-align: center;
  color: white;
  margin: 0;
  text-transform: uppercase;
  background-color: #222323;
}

#logo {
  width: 80%;
  margin: 30px 0;
}

#navbar h1 {
  font-size: 3em;
  margin: 0;
}

#navbar h2 {
  font-size: 1em;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}

#navbar ul {
  padding: 0;
  margin: 0;
}

#navbar li {
  list-style-type: none;
  width: 100%;
  border-top: 1px solid white;
  padding: 0;
}

#navbar li:hover>.nav-link {
  color: #da2929;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 15px 30px;
}

#main-doc {
  margin-left: 250px;
}

#introduction {
  background-color: #222323;
  text-align: center;
  color: white;
  padding: 60px 10%;
}

#introduction header {
  background-color: #222323;
  padding: 0;
}

#facts {
  text-align: left;
  background-color: #fdfaef;
  color: #222323;
  margin-top: 50px;
  padding: 20px 50px;
  border-radius: 7px;
}

#facts li {
  margin: 15px 0;
}

.legend-profile {
  padding: 0 5% 40px 10%;
  background-color: #fdfaef;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-start;
}

.legend-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.legend-portrait {
  width: 100%;
  margin-bottom: 30px;
}

table {
  margin: 0 auto;
}

tr {
  text-align: left;
}

th {
  width: 110px;
}

.legend-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 120px;
  /* background-color: green; */
}

header {
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  padding: 60px 0 0 10%;
  color: #da2929;
  background-color: #fdfaef;
}

.legend-bio h2, #introduction h2 {
  margin: 35px 0 20px;
  font-weight: lighter;
  font-size: 1.6em;
}

.legend-abilities {
  background-color: #222323;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 70px 0;
}

.legend-abilities h3 {
  font-size: 1.6em;
  letter-spacing: 1px;
}

.legend-abilities p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.ability-info {
  width: 25%;
  text-align: center;
}

.ability-icon {
  width: 100%;
}

.legend-abilities h4 {
  color: #da2929;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
}

@media screen and (max-width: 1024px) {
  .legend-profile {
    font-size: 14px;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .legend-bio {
    margin-top: 20px;
  }
  .ability-info {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 850px) {
  #navbar {
    width: 100%;
    height: 60vh;
    position: static;
    border-bottom: 2px solid white;
    border-right: none;
  }
  #logo {
    width: 30%;
    /* min-width: 200px; */
  }
  #main-doc {
    margin: 0;
  }
  #introduction {
    padding: 30px 20px 60px;
  }
  .legend-profile {
    font-size: 16px;
  }
}

@media screen and (max-width: 635px) {
  .legend-profile {
    flex-direction: column;
    padding: 20px 8% 60px;
  }
  .legend-info {
    width: 100%;
    align-items: center;
  }
  .legend-portrait {
    width: 85%;
  }
  .legend-bio {
    width: 100%;
  }
  .ability-info p {
    font-size: 1em;
  }
  .ability-info {
    width: 30%;
  }
  code {
    font-size: 0.8em;
  }
  header {
    font-size: 1.5em;
    letter-spacing: 2px;
    padding: 60px 0 0 8%;
  }
}